.Rprofile
.Rhistory
*.out
TODO.org
*.so
*.o*
*.sw?
*.log
*.RDS
*.csv
temp.r
*.pdf
.gitignore
*.DS_Store
inst/doc/*
inst/unitTests/report.html
inst/scripts/*
inst/*.html
vignettes/*.R
vignettes/.build.timestamp
README.html
*.RDS
data-raw*
