.Rprofile
.Rhistory
*.out
TODO.org
*.so
*.o*
*.sw?
*.log
*.csv
temp.r
*.pdf
.gitignore
*.DS_Store
inst/doc/*
inst/unitTests/report.html
inst/scripts/*
inst/*.html
vignettes/*.R
vignettes/.build.timestamp
README.html
/vignettes/figure/batch-1.png
vignettes/figure
inst/unitTests
/vignettes/Overview.md
/R/methods-BatchModel.R
/R/methods-MarginalModel.R
/man/combineSurrogates.Rd
/R/.unison.methods-SummarizedExperiment.R.51d06c18e4462e2c3ef5597ef0084e65.unison.tmp
